# Mobile
EXPO_PUBLIC_API_URL=

# API
APP_NAME=Omeong Gameong API
ENVIRONMENT=local
DATABASE_URL=postgresql+psycopg://omeong:omeong@localhost:5432/omeong
SECRET_KEY=

# PostgreSQL Docker
POSTGRES_DB=omeong
POSTGRES_USER=omeong
POSTGRES_PASSWORD=omeong
POSTGRES_PORT=5432

# External APIs
TOUR_API_KEY=
WEATHER_API_KEY=
KAKAO_REST_API_KEY=
LLM_API_KEY=
